#signup-btn {
    background: #BD220B;
    border-radius: 4px;
    height: 35px;
    width: 102px;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    color:#fff;
    font-weight: 600;
}
#signup-btn:hover {
    text-decoration: none;
}

.signin-btn {
    background-color: inherit;
    color: #fff;
    font-weight: 400;
    border: none;
    height: 35px;
    width: 90px;
    display: flex;
    align-items: center;
}
.signin-btn:hover {
    color: #fff;
    text-decoration: none;
}