.card-grid {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    padding: 120px;
    background-color: #111111;
    width: 100%;
    
}
.movie-container {
    width: 250px;
    height: 444px;
    border-radius: 10px;
    background-color: inherit;
    color: #fff;
    margin-bottom: 30px;

}
.movie-poster img {
    width: 100%;
    height: 376px;
    border-radius:10px;
}
.movie-poster {
    position: relative;
}
.movie-poster-overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
.movie-poster-overlay img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 25px;

}
.movie-poster:hover .movie-poster-overlay {
    display: block;
}
.movie-title {
width: 233px;
height: 14px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 24px;
color: #FFFFFF;
padding: 15px 0 16px 0;
}
.movie-container-footer ul {
    display: flex;
    justify-content:space-between;
    width: 160px;
    list-style: none;
    height: 14px;
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #8C8C8C;
    padding: 10px 0 0 0;
}

.movie-modal-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.movie-modal-box {
    width: 400px;
    height: 400px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: red;
    position: relative;
    top: -90px;
    z-index: 10;
    border-radius: 10px;
}

.movie-modal-box img {
    width: 100%;
    height: 270px;
    border-radius: 10px 10px 0 0;
}
.movie-description {
    background-color: #262626;
    display: grid;
    color: #fff;
    grid-template-columns: repeat(2, 1fr);
    padding:24px 67px 34px 67px;
    border-radius: 0 0 10px 10px;
}

.movies-description-content h4 {
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 36px;
color: #FFFFFF;
}
.movies-description-content ul {
    display: flex;
    justify-content: space-between;
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 24px;
letter-spacing: 0.1px;
color: #F8F8FF;
width: 115px;
}
.movies-description-content ul #pg {
    border: 1px solid #F5F5F5;
    padding:0 5px;
}

.movies-description-content article{
    text-align: left;
    display: flex;
    justify-content: flex-start;
    padding-right: 20px;
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #F8F8FF;
}


.movies-description-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left:40px;
}
.movies-description-details button {
    border: none;
    width: 90px;
height: 30px;
background: #BD220B;
border-radius: 4px;
align-self: flex-end;
color: #fff;
}
.movies-description-details .cast,
.movies-description-details .genre {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1% 82%;
    width: 100%;
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #F5F5F5;
    padding-top: 5px;
    
}

.movies-description-details .cast ul,
.movies-description-details .genre ul {
    display: flex;
    flex-wrap: wrap;
}

.movies-description-details .cast ul li,
.movies-description-details .genre ul li {
    padding: 0 1px;
}

#cd-btn {
    position: absolute;
    border-radius: 50% ;
    border:none;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    opacity: 0.4;
    color: #fff;


}







@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .card-grid {
        display: grid; 
        gap:0;
        width: 100%;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        
    }
    .card-container {
        /* width: 320px; */
        height: 452px;
        /* box-shadow: 2px 4px 8px #585858; */
        border-radius: 10px;
        background-color: inherit;
        color: #fff;
    }
  }
  @media only screen 
  and (min-device-width: 400px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .card-grid {
        display: grid; 
        /* gap:50px 0; */
        grid-template-columns: repeat(2, 1fr);
        
    } 
  }