.Resetpassword-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/Resetpassword-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .Resetpassword-info form {
    display: block;
    background-color: rgba(0, 0, 0, 0.651);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.251);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    color: #ffffff;
    margin-top: 100px;
    justify-content: center;
    justify-items: center;

  }
  
  .Resetpassword-info label {
    margin-left: 15px;
  }
  
  ::placeholder {
    padding-left: 16px;
  }
  
  .Resetpassword-info input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: #b4b8cc;
    background: linear-gradient(0deg, #ffffff26, #ffffff26),
        linear-gradient(0deg, #121212, #121212);
    border: none;
    height: 40px;
    border-radius: 4px;
    margin-left: 15px;

  }
  
  .Resetpassword-button {
    border: none;
    border-radius: 5px;
    width: 350px;
    background-color: #bd220b;
    margin-top:30px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 18px #bd220b33, 0px 0px 1px #bd220b4f;
    color: #ffffff;
    margin-left: 15px;
  }
  
  .text-footer {
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  
    letter-spacing: 0.25px;
  }