header nav {
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: space-between;
    background-color: #121212;
    position: fixed;
    width: 100%;
    align-items: center !important;
    padding: 15px 90px;
    z-index: 5;
}
header nav a {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
 
}
header nav a img {
    width: 40%;
}


header nav .nav-list {
    width: 95%;
    margin: auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: #fff;
    /* gap:50px; */
    align-items: center !important;
    justify-content: center;
}
header nav .nav-list .nav-item {
    font-family: Avenir Next LT Pro;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.5px;
border: 1px solid red;
text-align: center;
}
.search-open-btn {
    font-size: 16px;
}

header nav .nav-list .movie-search-bar {
    display: none;
}
header nav .nav-list> :first-child {
    display:flex;
    justify-content: center;
    font-size: 23px;
}
.mobile-nav-btn {
    font-size: 23px;
    display: none;
}
.mobile-nav-menu {
    position: fixed;
    top:0;
    height: 100vh;
    width: 40%;
    z-index: 6;
    background-color:red;     
    /* #121212 */
    box-shadow: 2px 4px 8px #585858;
}
.mobile-menu-mask {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 5;
}
.modal-background {
    width: 100%;
    height: 100%;
    z-index: 600 !important;
    background: rgba(0,0,0,0.8);
    padding: 50px 0;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}
.modal-box  {
    width: 70% !important ; 
    background-color: transparent !important;
    border: none;
    top: 0;
} 
.search-background {
    width:100% !important;
    height:100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    position: absolute;
    top: 15px;
    z-index: 5;    /* right: ; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-input input {
    padding:5px;
    border-radius: 5px;
    width: 40%;
    border: none;
}
::placeholder {
    font-size: 14px;
}
.search-nav {
    background-color: #121212;
    position: absolute;
    width: 100%;
    top: 0;
    align-items: center !important;
    padding: 15px 90px;
    z-index: 4;
}
.search-nav img {
    width: 5.6%;
}
.search-display {
    background-color: #585858;
    padding : 50px;
    width: 40%;
    position: absolute;
    top: 50px;
    /* border: 1px solid red; */
    z-index: 5;
}
.search-display span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #ccc;
}
.search-display-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
}
.search-list {
    display: grid;
    grid-template-columns: 15% 80%;
    /* gap: 15px; */
    height: 102px;
    width: 100%;
    padding: 20px;
    list-style: none;
}
.search-list:hover {
    background-color: red;
}

.search-list-movie-poster img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.search-list-movie-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-list-movie-details h5 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -1px; 
    color: #FFFFFF;
}
.search-list-movie-details-footer {
display: flex;
}
.search-list-movie-details-footer span {
font-family: Avenir Next LT Pro;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.4px;
color: #404040;
margin: 0 5px 0 0;
}

.signup-modal {
    width: 100% !important;
}
.close-btn {
    position: absolute;
    top: 40px;
    right: 270px;
    z-index: 5;
    background:inherit;
    /* padding: 10px; */
    font-size: 40px;
    border: none;
    color: #ccc;
}
.signin-close {
    position: absolute;
    top: 60px;
    right: 230px;
    z-index: 5;
    background-color: inherit;
    /* padding: px; */
    font-size: 40px;
    border: none;
    color: #ccc;
}



@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1)
  {

    header nav {
        width: 100%;
        z-index: 5; 
        }
        header nav .nav-list {
            display: none;
        }
        header nav a {
            display: flex;
            justify-content: flex-start;
            padding-left: 0;
         
        }
        header nav a img {
            width: 10%;
        }
        .mobile-nav-btn{
            font-size: 100px;
            display: block ;
            color: #fff;
            position: absolute;
            top: -13px;
            right: 90px;
        }
        .mobile-nav-menu {
            position: fixed;
            top:0;
            height: 100vh;
            width: 70%;
            z-index: 6;
            background-color:#121212 ;   
            display: flex;
            flex-direction: column;
            padding: 0 20px;  
            color: #fff;
            box-shadow: 2px 4px 8px #585858;
        }
        .mobile-logo {
            padding: 8px 0;
        }
        .mobile-logo img {
            width: 30%;
        }
        .mobile-nav-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            padding-top: 10px;
            height: 270px;
        }
    
  }


  
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 769px) 
and (-webkit-min-device-pixel-ratio: 1)
{

  header nav {
      width: 100%;
      z-index: 5; 
      padding: 10px 20px;
      }
      header nav .nav-list {
          display: none;
      }
      header nav a {
          display: flex;
          justify-content: flex-start;
          padding-left: 0;
       
      }
      header nav a img {
          width: 90%;
      }
      .mobile-nav-btn{
          font-size: 30px;
          display: block ;
          color: #fff;
          position: absolute;
          top:-2px;
          right: 20px;
      }
      .mobile-nav-menu {
        position: fixed;
        top:0;
        height: 100vh;
        width: 70%;
        z-index: 6;
        background-color:#121212 ;   
        display: flex;
        flex-direction: column;
        padding: 0 20px;  
        color: #fff;
        box-shadow: 2px 4px 8px #585858;
    }
    .mobile-logo {
        padding: 8px 0;
    }
    .mobile-logo img {
        width: 30%;
    }
    .mobile-nav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        height: 270px;
    }
  
}


@media only screen 
and (min-device-width: 300px) 
and (max-device-width: 375px) 
and (-webkit-min-device-pixel-ratio: 1)
{

  header nav {
      width: 100%;
      z-index: 5; 
      padding: 10px 20px;
      }
      header nav .nav-list {
          display: none;
      }
      header nav a {
          display: flex;
          justify-content: flex-start;
          padding-left: 0;
       
      }
      header nav a img {
          width: 90%;
      }
      .mobile-nav-btn{
          font-size: 28px;
          display: block ;
          color: #fff;
          position: absolute;
          top:-4px;
          right: 20px;
      }
      .mobile-nav-menu {
        position: fixed;
        top:0;
        height: 100vh;
        width: 80%;
        z-index: 6;
        background-color:#121212 ;   
        display: flex;
        flex-direction: column;
        padding: 0 20px;  
        color: #fff;
        box-shadow: 2px 4px 8px #585858;
    }
    .mobile-logo {
        padding: 8px 0;
    }
    .mobile-logo img {
        width: 30%;
    }
    .mobile-nav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        height: 270px;
    }
  
}


  /* @media only screen 
  and (min-device-width: 400px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    header nav {
        padding: 24px ;
        
    }
    header nav .nav-list {
        display: none;
    }
    .mobile-nav-btn{
        font-size: 50px;
        display: block ;
        color: #fff;
        position: absolute;
        top: 0;
        right: 40px;
    }
  } */